<ul class="list-group">
    <li class="list-group-item">Find Loads</li>
    <li class="list-group-item">Search Loads</li>
    <li class="list-group-item">Load Availability</li>
    <li class="list-group-item">My Trucks</li>
    <li class="list-group-item">My Searches</li>
    <li class="list-group-item">Load Planner</li>
</ul>