<ul class="list-group">
        <li class="list-group-item">My Loads</li>
        <li class="list-group-item">Single Load Post</li>
        <li class="list-group-item">Multiple Load Post</li>
        <li class="list-group-item">Upload Posts</li>
        <li class="list-group-item">Export Posts</li>
        <li class="list-group-item">Find Trucks</li>
    </ul>