<form action="">
    <div class="row d-flex flex-column justify-content-between">
        <!-- header -->
        <div class="bg-light">
            <h5>My posted Loads</h5>
        </div>
        <!-- body -->
        <div class=" d-flex flex-column justify-content-between">
            <!-- top actions-->
            <div class="d-flex flex-row justify-content-between my-2">
                <!-- act buttons -->
                <div >
                    <a href="" class="btn btn-secondary btn-md">Delete</a>
                    <a href="" class="btn btn-secondary btn-md">Rollover Date</a>
                    <a href="" class="btn btn-secondary btn-md">Refresh Age</a>
                    <a href="" class="btn btn-secondary btn-md">Change Status</a>
                </div>
                <!-- refresh button -->
                <div>
                        <a href="" class="btn btn-link ">Refresh</a>
                </div>
                <!-- online offline chck boxes -->
                <div class=" d-flex flex-row justify-content-between">
                        <div class="form-check mx-1">
                                <input class="form-check-input" type="checkbox" value="checked" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                  Online
                                </label>
                              </div>
                              <div class="form-check mx-1">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                                <label class="form-check-label" for="defaultCheck2">
                                  Offline
                                </label>
                              </div>
                </div>
                <!-- display count -->
                <div>
                        <a href="" class="btn btn-secondary btn-md">Display</a>
                </div>
            </div>
            <!-- main body grid -->
            <div>
                <table class="table my-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Actions</th>
                            <th scope="col">Find Trucks</th>
                            <th scope="col">View Clicks</th>
                            <th scope="col">Origin</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Pick up Dates</th>
                            <th scope="col">Equip</th>
                            <th scope="col">Length</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Age</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex justify-content-center">
                                <th scope="col"><input type="checkbox"></th>
                            <td class="col-span-5">
                                hello world
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- footer -->
            <div class="">
                Legend   |   Online   |  Offline
            </div>
        </div>
        
    </div>
</form>