<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheet/style.css"> -->
    <title>Authorize Movers</title>
  </head>
  <body>
    <div class="container-">
        <header >
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Authorize</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/carrier">Carrier</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Carrier Software</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/broker">Broker</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Tools</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">My Board</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Alerts</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Searches</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Messages</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Message Center</a>
                          <a class="dropdown-item" href="#">Settings</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">My Searches</a>
                      </div>
                  </li>
              </ul>
            </div>
          </nav>
        </header>
        <main class="container-fluid">

        

    
    